doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light
      .container
        a.navbar-brand(href='/') Loc8r
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about/') About

    .container
      block content

      footer
        .row
          .col-12
            small &copy; Getting MEAN - Sura Wankam 2020

    script(src="/javascripts/jquery-3.5.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js", integrity="sha256-FT/LokHAO3u6YAZv6/EKb7f2e0wXY3Ff/9Ww5NzT+Bk=", crossorigin="anonymous")
    script(src="/javascripts/bootstrap.min.js")
    script(src='/javascripts/validation.js')

    block scripts
      script(src="/build/runtime-es2015.0dae8cbc97194c7caed4.js")
      script(src="/build/polyfills-es2015.f332a089ad1600448873.js")
      script(src="/build/main-es2015.8a38fd18dde26dd0c2e1.js")